05-alumnos.xml

<?xml version="1.0" encoding="windows-1252"?>
<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:class_api" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:class_api">
<types>
<xsd:schema targetNamespace="urn:class_api">
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
 <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
 <xsd:complexType name="RespuestaBuscarAlumno">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
   <xsd:element name="status" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <xsd:complexType name="RespuestaBienvenida">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="status" type="xsd:string"/>
  </xsd:all>
 </xsd:complexType>
 <!-- Inicio complexType Respuesta Evaluar Alumno -->
 <xsd:complexType name="RespuestaEvaluarAlumno">
  <xsd:all>
   <xsd:element name="code" type="xsd:string"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="status" type="xsd:string"/>
   <xsd:element name="data" type="xsd:string"/>
   <xsd:element name="promedio" type="xsd:float"/>
  </xsd:all>
 </xsd:complexType>
 <!-- Fin complexType Respuesta Evaluar Alumno -->
</xsd:schema>
</types>
<message name="BuscarAlumnoRequest">
  <part name="user" type="xsd:string"/>
  <part name="pass" type="xsd:string"/>
  <part name="matricula" type="xsd:string"/></message>
<message name="BuscarAlumnoResponse">
  <part name="return" type="tns:RespuestaBuscarAlumno"/></message>
<message name="BienvenidaRequest">
  <part name="user" type="xsd:string"/>
  <part name="pass" type="xsd:string"/>
  <part name="matricula" type="xsd:string"/></message>
<message name="BienvenidaResponse">
  <part name="return" type="tns:RespuestaBienvenida"/></message>
<!-- Inicio message type Evaluar Alumno Request -->
<message name="EvaluarAlumnoRequest">
  <part name="user" type="xsd:string"/>
  <part name="pass" type="xsd:string"/>
  <part name="matricula" type="xsd:string"/>
  <part name="semestre" type="xsd:integer"/></message>
<!-- Fin message type Evaluar Alumno Request -->
<!-- Inicio message type Evaluar Alumno Reponse -->
<message name="EvaluarAlumnoResponse">
  <part name="return" type="tns:RespuestaEvaluarAlumno"/></message>
<!-- Fin message type Evaluar Alumno Reponse -->
<portType name="ClassroomWSPortType">
  <operation name="BuscarAlumno">
    <documentation>Operación que devuelve el Nombre de un alumno dada su matrícula.</documentation>
    <input message="tns:BuscarAlumnoRequest"/>
    <output message="tns:BuscarAlumnoResponse"/>
  </operation>
  <operation name="Bienvenida">
    <documentation>Operación que envía la Bienvenida a classroom al alumno.</documentation>
    <input message="tns:BienvenidaRequest"/>
    <output message="tns:BienvenidaResponse"/>
  </operation>
  <!-- Inicio operation portType Evaluar Alumno -->
  <operation name="EvaluarAlumno">
    <documentation>Operación que devuelve la Calificación obtenida hasta el semestre N de un alumno dada su matrícula.</documentation>
    <input message="tns:EvaluarAlumnoRequest"/>
    <output message="tns:EvaluarAlumnoResponse"/>
  </operation>
  <!-- Fin operation portType Evaluar Alumno -->
</portType>
<binding name="ClassroomWSBinding" type="tns:ClassroomWSPortType">
  <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="BuscarAlumno">
    <soap:operation soapAction="urn:ClassroomWS#BuscarAlumno" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:class_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:class_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <operation name="Bienvenida">
    <soap:operation soapAction="urn:ClassroomWS#Bienvenida" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:class_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:class_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <!-- Inicio operation binding Evaluar Alumno -->
  <operation name="EvaluarAlumno">
    <soap:operation soapAction="urn:ClassroomWS#EvaluarAlumno" style="rpc"/>
    <input><soap:body use="encoded" namespace="urn:class_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></input>
    <output><soap:body use="encoded" namespace="urn:class_api" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/></output>
  </operation>
  <!-- Fin operation binding Evaluar Alumno -->
</binding>
<service name="ClassroomWS">
  <port name="ClassroomWSPort" binding="tns:ClassroomWSBinding">
    <soap:address location="http://54.203.246.162/neo/classroom/sw/pruebasclase/alumnos.php"/>
  </port>
</service>
</definitions>